@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<html>
    <body>
        <div class="d-grid gap-2">
            <a asp-controller="Admin" asp-action="Students" class="btn btn-secondary">Alunos</a>
            <a asp-controller="Admin" asp-action="Professores" class="btn btn-secondary">Professores</a>
            <a asp-controller="Admin" asp-action="Salas" class="btn btn-secondary">Salas e Reservas</a>
            <a asp-controller="Admin" asp-action="Classes" class="btn btn-secondary">Turmas</a>
            <a asp-controller="Admin" asp-action="Aulas" class="btn btn-secondary">Planejamento de Aulas e Horários</a>
        </div>
    </body>
</html>