@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/TeacherLayout.cshtml";
    ViewData["Title"] = "Área do Professor";
}

<html>
    <body>
        <div class="container d-flex justify-content-center mt-5">
        <div class="card p-4 shadow-sm" style="max-width: 400px; width: 100%;">
            <form method="get" asp-controller="Professor" asp-action="Turma" class="form-inline">
                <div class="form-group mb-3">
                    <label for="className" class="form-label">Turma</label>
                    <select name="className" id="className" class="form-select">
                            @foreach (var _class in Model)
                            {
                                <option value="@_class">@_class</option>
                            }
                    </select>
                </div>
                <div class="form-group mb-3 text-center">
                    <input type="submit" value="Continuar" class="btn btn-primary w-100"/>
                </div>
            </form>
        </div>
    </div>
    </body>
</html>
